.hovereffect {
    width: 70%;
    height: 40vh;
    margin: auto;
    display: block;
    transition: transform 0.3s, filter 0.3s;
    border-radius: 15px;
}

.hovereffect:hover {
    transform: scale(1.05); /* Slightly enlarge the image */
    filter: brightness(0.8) sepia(50%); /* Darken the image and add a hue rotation */
}

  .menucard{
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #ddd; /* Light border */
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
   
  }

  .menucard:hover{
    transform: scale(1.02); /* Slightly enlarge the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
  }

  .cardbody{
    text-align: center;
    background-color: #fff;
  }